<div class="post-container">
    <div class="post-header">
        <h3 class="create-post">Create New Post</h3>
    </div>
    <div class="post-body">
        <h3 class="post-title">Title</h3>
        <textarea class="title-text"></textarea>
        <h3 class="post-title">Content</h3>
        <textarea class="body-text"></textarea>
        <div class="btn-container">
        <button class="create-btn">Create</button>
        </div>
    </div>
</div>