<div class="outer-container">
    <div class="post-header">
        <h3 class="create-post">Edit Post</h3>
    </div>
    <div class="post-body">
        <h3 class="post-title">Title</h3>
        <input class="title-input" value="{{post.title}}">
        <h3 class="post-title">Content</h3>
        <input class="body-input" value="{{post.post}}">
        <p class="created-by">Created by {{user.name}} on {{format_date post.date_created}}</p>
        <div class="btn-container">
            <button class="save-btn">Save</button>
            <button class="delete-btn">Delete</button>
        </div>
    </div>
</div>