<div class="container-container">
    <div class="form-container">
        <form>
        <div class="form-group">
            <label class="name-title" for="name">Name</label>
            <input type="text" class="name-form" id="signup-name" placeholder="Name">
        </div>
        <div class="form-group">
            <label class="email-title" for="email">Email address</label>
            <input type="email" class="email-form" id="signup-email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <label class="password-title" for="password">Password</label>
            <input type="password" class="password-form" id="signup-password" placeholder="Password">
        </div>
        <button type="submit" class="signup-btn">Sign Up!</button>
        <p class="login">Already have an account?<a href="/login" class="login-link"> Log In!</a></p>
        </form>
    </div>
</div>