body{
    background-color:rgb(0, 65, 135);
}

.navbar-expand-lg{
    background-color: rgb(14, 88, 167);
}

.container-fluid{
    background-color: rgb(249, 207, 154);
    border-radius: 10px;
}

.navbar-brand{
    color: rgb(14, 88, 167);
}

#navbarNav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-link{ 
    color: rgb(14, 88, 167);
}

.credits{
    color: rgb(14, 88, 167);
}

footer{
    text-align: center;
    margin-bottom: 15px;
}