body{
    background-color: darkslategrey;
}

.navbar-expand-lg{
    background-color: rgb(14, 88, 167);
}

.container-fluid{
    background-color: rgb(249, 207, 154);
    border-radius: 10px;
}

.navbar-brand{
    color: rgb(14, 88, 167);
}

.nav-link{ 
    color: rgb(14, 88, 167);
}

.credits{
    color: rgb(14, 88, 167);
}

footer{
    text-align: center;
    margin-bottom: 15px;
}